<section class="my-4">
  <div class="container">
    <h2>Vincular funcionário a uma empresa</h2>
  </div>
</section>
<section>
  <div class="container">
    <form [formGroup]="registerForm" method="post">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Nome</label>
          <input
            type="text"
            name="nome"
            [(ngModel)]="funcionario.nome"
            formControlName="nome"
            class="form-control"
            disabled            
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="empresaId">Empresa</label>

          <select class="form-control" 
                  name="empresaId"
                  formControlName="empresaId"
                  [(ngModel)]="funcionario.empresaId"  
                  [ngClass]="{ 'is-invalid': verificaValidTouched('empresaId', '') }">
            <option value="">--Selecione uma Empresa--</option>
            <option *ngFor="let emp of empresas" value="{{ emp.id }}">
              {{ emp.nome }}
            </option>
          </select>
          <app-input-control-error [mostrarErro]="verificaValidTouched('empresaId', 'required')" msgErro="A Empresa é obrigatória."></app-input-control-error>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-space" (click)="vincular()">
        Salvar
      </button>
      <button type="button" class="btn btn-danger" (click)="voltar()">
        Cancelar
      </button>
    </form>
  </div>
</section>
