<section class="my-4">
  <div class="container">
    <h2>Listagem de cargos</h2>
  </div>
</section>
<section>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Descrição</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cargos">
          <th scope="row">{{ car.id }}</th>
          <td>
            {{ car.descricao | uppercase }}
          </td>
          <td>
            <button
              class="btn btn-primary"
              (click)="alterar(car)"
              style="margin-right: 10px;"
            >
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" (click)="openModal(template, car)"><i class="fas fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title">Excluir item</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Confirma a exclusão do registro?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modalRef.hide()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="excluirRegistro(cargoExcluir)">Excluir</button>
      </div>
  </ng-template>
  </div>
</section>
