<section class="my-4">
  <div class="container">
    <h2>Listagem de empresas</h2>
  </div>
</section>
<section>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">CNPJ</th>
          <th scope="col">Data Fundação</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of empresas">
          <th scope="row">{{ emp.id }}</th>
          <td>
            {{ emp.nome }}
          </td>
          <td>{{ emp.cnpj | mask: "00.000.000/0000-00" }}</td>
          <td>{{ emp.dataFundacao }}</td>
          <td>
            <button
              class="btn btn-primary"
              (click)="alterar(emp)"
              style="margin-right: 10px;"
            >
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" (click)="openModal(template, emp)"><i class="fas fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title">Excluir item</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Confirma a exclusão do registro?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modalRef.hide()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="excluirRegistro(empresaExcluir)">Excluir</button>
      </div>
  </ng-template>
  </div>
</section>
