<section class="my-4">
  <div class="container">
    <h2>Cadastro de empresas</h2>
  </div>
</section>
<section>
  <div class="container">
    <form [formGroup]="registerForm" method="post" >
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nome">Nome</label>
          <input 
             type="text"
            id="nome"
            class="form-control"
            formControlName="nome"
            [ngClass]="{ 'is-invalid': verificaValidTouched('nome', '') }"
          />
          <app-input-control-error [mostrarErro]="verificaValidTouched('nome', 'required')" msgErro="O Nome é obrigatório."></app-input-control-error>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="cnpj">CNPJ</label>
          <input
            type="text"
            id="cnpj"
            class="form-control"
            mask="00.000.000/0000-00"
            formControlName="cnpj"
            [ngClass]="{ 'is-invalid': verificaValidTouched('cnpj', '') }"           
          />
          <app-input-control-error [mostrarErro]="verificaValidTouched('cnpj', 'required')" msgErro="CNPJ está obrigatório."></app-input-control-error>
          <app-input-control-error [mostrarErro]="verificaValidTouched('cnpj', 'mask')" msgErro="CNPJ está inválido."></app-input-control-error>
          <app-input-control-error [mostrarErro]="verificaValidTouched('cnpj', 'cnpjInvalido')" msgErro="CNPJ está inválido."></app-input-control-error>
        </div>

        <div class="form-group col-md-2">
          <label for="dataFundacao">Data Fundação</label>
          <div class="input-group">
            <input
              id="dataFundacao"
              class="form-control"
              formControlName="dataFundacao"
              placeholder="dd/mm/yyyy"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                (click)="d.toggle()"
                type="button"
              >
                <i class="fas fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="criar()">
        Salvar
      </button>
    </form>
  </div>
</section>
